body{
      background:url(s7.jpg  )no-repeat ;
      background-size: coverr;
  margin:0;
  padding: 0;
  font-family: "montsterrat",sans-serif;

}
   .c{

 box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  margin: auto;
  width: 400px;
  height: 390px;

}
   .c h1{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    	text-transform:uppercase;

   }
   .tbox{
    width: 260px;
    height: 40px;
    background: #f1f1f1b3;
    border-radius: 10px;
    margin:40px auto;
   }

   .tbox input{
      background: none;
      border: none ;
      outline:none;
      text-align: center;
      width:260px;
      line-height:37px;
      font-family: "montsterrat",sans-serif;
      font-size:14px;
      color: #333;
   }
   .button{
     width: 260px;
    height: 40px;
    background: #3498db;
    border-radius: 10px;
    margin:14px auto;
    display: block;
    font-family: "montsterrat",sans-serif;
    font-size: 16px;
    border: none;
    color: white;
   }
   .b1{
   	 text-align: center;
   }
  a:hover{
    background: #00000040;
   }
   

  